$dark-bg: #202227;

$darker-bg: #111;
$darker-fg: #b8b8b8;
$darker-border: #1e1e1e; // or #3e3e3e

$active-bg: #18f;
$active-fg: #fff;

$title-fg: #d5d555;

// $comment-fg: #9df;
// $comment-bg: $darker-bg;

$link: #6898F8;
$link-hover: #80c0f0;
$link-visited: #CA85AF;
$link-active: #aaf;

$control-link: #ccc;

// $tag-bg: #030303;
// $tag-fg: #ddd;
// $tag-border: #225;
// $tag-hover-fg: #fafaf3;
// $tag-hover-border: #80c0f0;

$tag-link-fg: #ccc;


// $darkbg1: #111;
// $darkbg2: #202227;
// $darkfg1: #b8b8b8;
