// Design
// - Background of body is @dark.
// - Background of floating areas is @darker. Should also have @border-solid(2).
// - Ordinary links are @link.
// - Ads are removed using @removeAds.
// - Social media button are removed using @removeSocial.

// No background and foreground color settings in scss for individual pages;
// Instead use @include xxx as much as possible.

// Use @mixin - @include pair instead of @import;

@mixin title {
    color: $title-fg;
}

@mixin dark {
    // don't use background-color; it doesn't override background image.
    background: $dark-bg;
}

@mixin darker {
    background: $darker-bg;
    color: $darker-fg;
}

@mixin darkerbox($dirs: top bottom left right) {
    @include darker;

    @each $d in $dirs {
        border-#{$d}: solid $darker-border 2px;
    }
    // to shorten css, set default value of $dirs to false. then use @if to call
    // @each if $dirs is some list, or output "border: ..." otherwise.
    // (this prevents all 4 rules for {top,bottom,left,right} to be created)
}

// @mixin _link-transition {
//     transition: color 150ms ease-out, text-shadow 150ms ease-out, border 150ms ease-out;
// }
@mixin link {
    color: $link;
    text-shadow: 1px 1px 1px #004;
    transition: color 150ms ease-out, text-shadow 150ms ease-out, border 150ms ease-out;
    &:hover {
        color: $link-hover;
        text-shadow: 1px 1px 1px #22a;
    }
    &:visited {
        color: $link-visited;
        text-shadow: 1px 1px 1px #fff;
    }
    &:active {
        color: $link-active;
    }
}
@mixin control-link {
    // links such as "Goto next/prev/N'th page" "Read more" "See description"
    // background: lighten($darker-bg, 5%);
    background: $darker-bg;
    color: $control-link;
    border-style: solid;
    // border-color: darken($control-link, 40%);
    border-color: #444;
    border-radius: 0px;
}

// @mixin tag {
//     @warn "This old mixin is deprecated!";
//     background: $tag-bg;
//     border-color: $tag-border;
//     transition: border 150ms ease-out, text-shadow 150ms ease-out;
//     &> a {
//         color: $tag-fg;
//         text-shadow: 1px 1px 1px #888;
//     }
//     &:hover {
//         border-color: $tag-hover-border;
//         &> a {
//             color: $tag-hover-fg;
//             text-shadow: 1px 1px 1px #fafaf3;
//         }
//     }
// }
@mixin tag-link {
    color: $tag-link-fg;
    // transition: text-shadow 150ms ease-out;
    // text-shadow: 1px 1px 1px darken($tag-link-fg, 20%);

    &:hover {
        color: lighten($tag-link-fg, 20%);
        // text-shadow: 1px 1px 1px darken($tag-link-fg, 20%);
    }
}

@mixin comment {
    @warn "This old mixin is deprecated!";
    background: $comment-bg;
    color: $comment-fg;
    &:hover {
        background: lighten($comment-bg, 17%);
    }
}

@mixin active {
    background: $active-bg;
    color: $active-fg;
    text-shadow: #000 1px 1px 1px;
    // box-shadow: inset lighten($active-bg, 20%) 0 0 10px;
}

@mixin avatar-invert {
    filter: invert(70%);
}

// Remove ads and social media buttons
@mixin removeAds { display: none; }
@mixin removeSocial { display: none; }

// // control link
// background: transparent;
// color: #8f8;
// font-weight: bold;
// border: ridge #444 2px;
// text-decoration: underline;
// border-radius: 0;
// border: none;
// background: #666;
// text-shadow: 1px 1px 1px #000;

// // tag
// background: transparent;
// color: #6898f8;
// text-decoration: underline;
// border: none;
// font-weight: bold;
// text-shadow: 1px 1px 1px #22a !important;
