// User's mypage

@-moz-document regexp(".*www\.nicovideo\.jp/user/.*") {

    // Remove ads
    .premiumHeader, .headerBanner, .mypage_header_banner, .sticky-element, #web_pc_footer > iframe {
        @include removeAds;
    }

    // Links
    .stats li a {
        @include link;
    }

    // Main background
    body {
        @include dark;
    }

    // User information
    .userDetail {
        @include darker;

        // Stats (follow, follower, level etc.)
        .stats {
            @include darker;
        }
    }

    // Sidebar (left)
    .sidebar {

        // Sidebar tabs
        li a {
            @include darker;

        }

        // Subtree
        .navInner {
            @include darker;

            // Active subtab
            li.active {
                background: $active-bg;

                a {
                    width: 230px;
                    padding-right: 0px;
                }
            }
        }
    }
}

// Toriaezu-mylist
@-moz-document regexp(".*www\.nicovideo\.jp/my/mylist.*") {

    // Links
    .MylistItem-videoDetail a {
        @include link;
    }

    // Container
    #mylist {
        @include darker;

        // Title
        #myContHead > h3 {
            @include darker;
            @include title;

            border-bottom: dotted #444 2px;
        }

        // "Play all" button
        #myContBody .buttonOuter {
            &, p, p a {
                @include active;
                box-shadow: none;
                border: none;
            }
        }

        // Everything except title and margin
        .articleBody {
            @include darker;

            // Control container (sort, selectAll etc.)
            .MylistHeadMenuContainer {
                @include darker;
            }

            // Each video
            .MylistItem-inner {
                @include darker;

                // Video stats
                ul.metadata {
                    @include darker;
                }
            }
        }
    }

}
