// Player (html5 version)

// prefix may be "http" or "https"
// @-moz-document regexp(".*www\.nicovideo\.jp/watch.*") {
//     $input-fg: #eee;
//     $input-bg: #323232;
//     $input-border: #666;

//     body, .HeaderContainer {
//         @include dark;
//     }

//     // there are 4 containers: title, description, info, tags
//     // (although there's .HeaderContainer, which contains all of them)
//     %container {
//         @include darker;
//         @include border-solid(3px);
//         padding: 6px 12px;
//     }


//     // Title
//     .HeaderContainer > div:nth-child(1) {
//         @extend %container;
//         width: 100%;
//     }
//     .VideoTitle { @include title; }
//     // searchbox
//     .SearchBox {
//         height: 24px;
//         border: solid $input-border 1px;
//         border-radius: 2px;
//         // left
//         .SearchBox-optionButton {
//             padding: 2px;
//             background: $input-bg;
//             border-right: solid $input-border 1px;
//             .SearchBox-optionButtonIcon {
//                 width: 18px;
//                 height: 18px;
//             }
//             .SearchBox-optionDown {
//                 margin-right: 4px;
//                 width: 10px;
//             }
//         }
//         // middle
//         .TagSuggestionInput-input {
//             background: $input-bg;
//             box-shadow: none;
//             color: $input-fg;
//         }
//         // right
//         .SearchBox-submitButton { padding: 5px; }
//     }


//     // Description
//     .VideoDescriptionContainer {
//         @extend %container;
//         width: 100%;
//     }
//     .VideoDescription-html > a { @include link; }

//     // Info (uploader, date, statictics)
//     .HeaderContainer > div:nth-child(3) { @extend %container; }
//     .VideoOwnerIcon-image { @include avatar-invert; } // user thumbnail
//     .VideoOwnerInfo-pageLink { @include link; } // uploader name
//     .VideoMetaContainer > div { // separator
//         box-shadow: none;
//         border-left: dotted #222 2px;
//     }
//     .VideoMetaContainer > div { &> p { @include darker; } } // labels
//     .VideoMetaContainer > div { &> time, span { @include darker; } } // stats


//     // Tags
//     .TagContainer { @extend %container; }
//     // 'edit tags' button
//     .TagContainer .ClickInterceptor { filter: invert(85%)brightness(140%); }
//     .TagContainer-editButton { border-radius: 3px; }
//     // tag items
//     .TagItem {
//         @include tag;
//         border-radius: 3px;
//         &> a { font-weight: normal; }
//     }


//     // Main container
//     .MarqueeContainer {
//         border-bottom: dotted #303030 2px;
//         margin-bottom: 1px;
//     }
//     .MainContainer {
//         @include darker;
//         @include border-solid(3px);
//     }
//     .MainContainer-commentPanel {
//         @include darker;
//         // top of comment-panel (in fact, they are moved to bottom)
//         .VideoMenuContainer {
//             position: absolute;
//             bottom: 0;
//             // this border was separator between VideoMenuContainer and
//             // commentPanelContainer
//             &:after { border-bottom: none; }
//         }
//         .VideoMenuContainer-areaLeft { // mylist button etc.
//             @include darker;
//             .ClickInterceptor { filter: invert(70%); }
//             .VideoMenuContainer-button { width: 25px; }
//             // Fukubiki link
//             .UadButtonBalloon {
//                 background-color: #000;
//                 margin: -3px 0 0;
//                 height: 33px;
//                 padding: 0px 8px;
//                 border-color: #999;
//                 a { @include link; }
//             }
//         }
//         .VideoMenuContainer-areaRight { // twitter button etc.
//             @include darker;
//             filter: brightness(90%);
//         }
//         // comment panel container (moved to top)
//         .CommentPanelContainer, .CommentPanelContainer.in-hiddenMiniBanner {
//             top: 0;
//             bottom: 44px;
//         }
//         // comment header row
//         .___header-table___2EekI {
//             background: lighten($darker-bg, 21%);
//             &> span {
//                 background: transparent;
//                 color: lighten($darker-fg, 21%);
//                 border-color: $darker-border;
//             }
//         }
//         // comment rows
//         .___table___3Fnci {
//             &> div {
//                 @include comment;
//                 span { border-color: #666; }
//             }
//             &> div:nth-child(2n-1) {
//                 @include comment;
//                 background: lighten($comment-bg, 3%);
//             }
//         }
//     }


//     // Disable some things
//     .VideoStalledPremiumLinkContainer { display: none; }

//     .MarqueeContainer {
//         background: #000;
//         .Grid.Marquee, .GridCell.Marquee-itemArea {
//             display: none;
//         }
//     }

//     // Disable some ads
//     .CommentPanelBannerAd.NicoSpotAdContainer, // over comment box
//     .MiniBannerAdContainer, // below comment box
//     .RectangleAdContainer, // above Nama-housou
//     .SideFollowAdContainer, // below Nama-housou
//     .BottomContainer-adContainer, // bottom of the page
//     { display: none; }

// }
