// Search page
// Basic layout is common in keyword-search and tag-search

@-moz-document regexp(".*www\.nicovideo\.jp/(search|tag).*") {

    // Remove ads
    #premiumHeader, .notice.banner, .billboard_ad, .column.sub .ads, .banner.leadBanner.ads {
        @include removeAds;
    }

    // Remove social media buttons
    ul.share {
        // twitter and facebook buttons
        @include removeSocial;
    }

    // Base background
    body, header.header, .tagCaption, .column.sub {
        @include dark;
    }

    // Tag info (tag search) or search form and tag list (keyword search)
    .tagCaption {
        @each $d in top bottom {
            border-#{$d}: none;
            padding-#{$d}: 0;
        }

        // Tag
        .balloon.tag {
            @include link;
            // Disable white round-rect
            background: transparent;
            border: none;
            font-weight: bold;
        }
    }

    // Search result (and controls)
    .column.main {

        .pagerBtn {
            @include control-link;

            // Currently selected
            &.active {
                color: #fff;
                border-color: darken(#fff, 50%);
            }
        }

        .switchingBtn {
            @include control-link;
        }

        // Video list
        .contentBody {
            // Each video
            li.item {
                @include darkerbox;

                $bw: 1px; // border width
                $pd: 2px; // left and right padding
                border-width: $bw;
                padding: 1px $pd 1px;
                // Adjust box width so that thumbnail image does not overflow
                // Alternative solution: zoomout image (to 150px etc.)
                width: 160px + (2 * ($bw + $pd));

                // Space between videos must be reduced to prevent each 4n'th
                // video to be pushed out to the next row.
                margin-right: 20px - ceil((8 * ($bw + $pd)) / 3);
                &:nth-of-type(4n) { margin-right: 0px; }

                // Upload time
                .itemTime {
                    @include darker;
                }

                // Thumbnail
                img.thumb {
                    background-color: #000;
                }

                // Video title
                p.itemTitle a {
                    @include link;
                }

                // Stats
                .itemData li.count {
                    @include darker;

                    // Each value of stats
                    .value, .value a {
                        @include darker;
                        // font-weight: bold;
                    }
                }
            }
        }
    }

    // Right column
    .column.sub {

        // Sections (hot videos, related channels, related community)
        section {
            @include darkerbox;

            // Text
            p.time, p.supplement, p.exTxt, .itemDescription {
                @include darker;
            }

            // Header
            .contentHeader {
                @include darker;

                // Header labels
                h1.title {
                    @include title;
                }
            }

            // Make links bold
            .itemTitle a, a.itemTitleLink {
                @include link;
                font-weight: bold;
            }

            // Buttons
            .button.default {
                @include control-link;
                border: none;
            }

            // Trend tags
            &#trendtag .itemTitle {
                @include link;
                background: transparent;
                border: none;

                // Remove horizontal line between tags
                .item {
                    border-bottom: none;
                }

                // Remove vertical line between index and link
                .tagName {
                    border-left: none;
                }
            }
        }
    }

}


// Search by keyword

@-moz-document regexp(".*www\.nicovideo\.jp/search.*") {

    // Search form and related tag list
    section.tagCaption .inner {
        @include darkerbox;

        // Remove space between search form and tag list, and add a horizontal
        // line in between.
        .formSearch, .tagListBox {
            border: none;
            border-radius: 0;
            &.formSearch {
                margin-bottom: 0;
                border-bottom: dotted #444 2px; // The added horizontal line
                box-shadow: none;
            }
            &.tagListBox {
                margin-top: 0;
            }
        }

        // Search form
        .formSearch {
            @include darker;

            // "Found xxx matches" label
            .message p {
                @include darker;
            }
        }

        // Tag list
        .tagListBox {
            @include darker;

            // "Related tags" labels
            .contentHeader .title {
                @include title;
            }

            // "Tags including xxx" labels
            .contentHeader .edit a {
                @include darker;
            }
        }
    }
    
}


// Search by tags

@-moz-document regexp(".*www\.nicovideo\.jp/tag.*") {

    // Tag description
    section.tagCaption .inner {
        @include darkerbox;

        // Title (tag name)
        .contentHeader h1 {
            @include title;
        }

        // "Follow this tag" and "show tag-repo" buttons
        .button.nav, .button-tagrepo{
            @include control-link;
            border: none;
        }

        // Tag description
        .itemDescription p {
            @include darker;

            // "Read more" link
            a.more {
                @include control-link;
            }
        }

        // Related tags
        .tagListBox {
            @include darker;
            border-top: dotted #444 2px;

            // "Related tags" labels
            .contentHeader .title {
                @include title;
            }

            // "Tags including xxx" labels
            .contentHeader .edit a {
                @include darker;
            }
        }
    }

}
