$clean: true; // Aggressive cleaning

// Remove ads and social media buttons
@mixin noad     { display: none; }
@mixin nosocial { display: none; }
@mixin remove   { display: none; }

@mixin header {
    #siteHeaderInner { background: #222; }
    span { color: #ddd; }
    background: #222;
    // position: static; // title is shown vertically
    // filter: invert(100%);

    // Hide premium register icon
    // classes of header elements are now obfuscated?
    a[href*=premium] {
        color: unset;
        &> svg { display: none; }
    }

    // Hide dropdowns
    /* sometimes does not work if selectors are combined??? */
    .nico-CommonHeaderRoot a[href*="app.nicovideo.jp"] + div > div:nth-child(2), /* その他 */
    .nico-CommonHeaderRoot a[href*="account.nicovideo.jp/premium/register"] + div, /* プレミアム会員登録 (logined) */
    .nico-CommonHeaderRoot>div>div>div:nth-child(2)  > div:nth-child(2) > div + div, /* お知らせ (logined) */
    .nico-CommonHeaderRoot a[href*="www.nicovideo.jp/my"] ~ div, /* 顔のマーク (logined) */
    .nico-CommonHeaderRoot a[href*="account.nicovideo.jp/register/simple"] + div, /* 会員登録 (not logined) */
    .nico-CommonHeaderRoot>div>div>div:nth-child(2)  > div:nth-child(3) > div + div /* 顔のマーク (not logined) */
    { display: none }
}

@-moz-document regexp(".*nicovideo\.jp.*") {
    // No gif animation on top-left of pages
    .pageLogo .hidariue { @include remove; }
}
