@-moz-document regexp(".*www\.nicovideo\.jp/watch.*") {

    // Better header
    #CommonHeader { @include header; }

    // Tags
    .TagItem {
        background: transparent;
        border: none;
    }

    // Player
    .MainContainer-marquee { @include noad; } // Remove news scroll
    .MainContainer { box-shadow: none; }
    .MainContainer-player {
        margin: auto auto;
        box-shadow: 0px 0px 2px 1px #888;

        // Don't set a fixed width; will not be resized when changing player size
        // width: 640px;
    }
    @if $watch-layout { // Alternative layout: player on top, title etc. at bottom, stats on side.

        // Player before info
        .WatchAppContainer-main { display: flex; flex-direction: column-reverse }

        // Info layout
        .HeaderContainer {
            display: grid;

            > .HeaderContainer-topArea   { grid-column: 1/2; grid-row: 1; }
            > .VideoDescriptionContainer { grid-column: 1/2; grid-row: 3; }
            > .TagContainer              { grid-column: 1/2; grid-row: 2; }
            > .HeaderContainer-row       { grid-column: 3; grid-row: 1/5; display: flex; flex-direction: column; margin-left: 60px }

            // Vertical stats
            > .HeaderContainer-row .VideoMetaContainer {
                display: flex; flex-direction: column;
                height: unset;
                > div { margin-top: .6em; }
            }

        }

        .MainContainer { margin: 2em 0 2em; } // Margin above/below player

    } @else { // Normal simplified layout

        .MainContainer { margin: 2.5em auto 5em; } // Margin above/below player

    }

    // Remove popup when seeking with keyboard
    .VideoOptionGuideContainer { @include remove; }

    // Remove premium recommendation popups over seekbar
    .AnywhereSeekablePremiumLinkContainer, .SeekBarStoryboardPremiumLink,
    .PreVideoStartPremiumLinkContainer
    { @include remove; }

    // Remove premium recommendation banner
    .PreVideoStartPremiumLinkOnEconomyTimeContainer { @include remove; }

    // Hide "ログインするとコメント投稿ができます" (when not logined)
    .CommentShutter { @include remove; }

    // Hide kantan comments
    .EasyCommentContainer { @include remove; }

    // Remove comment panel, related videos (right side of player)
    .MainContainer-playerPanel { @include remove; }

    // Remove ichiba, related contents, related items, portal site link
    .BottomContainer { @include remove; }

    // Remove switch to flash banner
    // div.InView.InViewLazyLoadContainer.WatchAppContainer-switchToFlash { @include delete; }
    .SwitchToFlashLead { background: transparent; }
    .SwitchToFlashLead-button { color: #888; }

    // Remove "page top" button
    .FooterContainer-pageTop { @include remove; }
}
